{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}
<div class="page grid has-gutter">
    <aside  id="page-nav-wrapper" class=" four-twelves">

        <div class="page-nav">
            <div class="">
                <button type="button" class="mobileNavBtn">Aller à une section</button>

                <h3>{{page.title}}</h3>

                <nav>
                    {% for module in page.collection() %}
                    {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}

                    <a data-scroll href="#{{ _self.pageLinkName(module.menu) | hyphenize}}" class="{{ current_module }}"><span>{{ module.menu }}</span></a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </aside>

    <section class="page-section">
        {% for module in page.collection() %}
        <article class="page-article" id="{{ _self.pageLinkName(module.title) | hyphenize}}">
            <div class="article-content">
                <p class="section-position">{{page.title}} / 0{{module.currentPosition + 1}}.</p>

                <h2>{{module.title}}</h2>

                {{ module.content }}
            </div>

            <hr><hr>
        </article>
        {% endfor %}
    </section>
</div>
{% endblock %}

{% do assets.addJs('theme://js/stickybits.min.js', {'group': 'bottom'}) %}
{% do assets.addJs('theme://js/smooth-scroll.polyfills.min.js', {'group': 'bottom'}) %}
{% do assets.addJs('theme://js/mobile-page-nav.js', {'group': 'bottom'}) %}
{% do assets.addJs('theme://js/init.js', {'group': 'bottom'}) %}
