{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}

    {{ page.content }}

    <nav class="page-nav">
        {{page.title}}
        {% for module in page.collection() %}
            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li class="{{ current_module }}"><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>
        {% endfor %}
    </nav>

    {% for module in page.collection() %}
        <section class="page-section" id="{{ _self.pageLinkName(module.title) }}">
            <p>{{page.title}}/0{{module.currentPosition + 1}}.</p>

            <h3>{{module.title}}</h3>

            {{ module.content }}
        </section>

    {% endfor %}

{% endblock %}
