{% block footer %}
<footer class="footer">



    <section class="footer-content container">
        <a class="logo no-before" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo-mta-white.svg') }}" alt="Plateforme MTA">
        </a>

        <nav class="grid-2-small-1">

            {% if grav.language.getActive == 'fr' %}
            <div>
                <a href="{{base_url}}/"><span>Accueil</span></a>
                <a href="{{base_url}}/prestations-et-demarche"><span>Prestations et démarche</span></a>
                <a href="{{base_url}}/systemes-de-stockage-denergie-electrique"><span>SSE</span></a>
            </div>

            <div>
                <a href="{{base_url}}/securite"><span>Sécurité</span></a>
                <a href="{{base_url}}/societe"><span>Société</span></a>
                <a href="{{base_url}}/contact"><span>Contact</span></a>
            </div>
            {% else %}
            <div>
                <a href="{{base_url}}/"><span>Home</span></a>
                <a href="{{base_url}}/customer-approach-and-services"><span>Customer approach & services</span></a>
                <a href="{{base_url}}/energy-storage-systems"><span>ESS</span></a>
            </div>

            <div>
                <a href="{{base_url}}/safety"><span>Safety</span></a>
                <a href="{{base_url}}/company"><span>Company</span></a>
                <a href="{{base_url}}/contact"><span>Contact</span></a>
            </div>
            {% endif %}

            <div class="linkedin">
                <a href="https://fr.linkedin.com/company/mta-plateforme-d-essais" class="no-before"><img src="{{ url('theme://images/logo-linkedin.svg') }}" alt="Linkedin"></a>
            </div>
        </nav>

    </section>

    <section class="bottom-bar">
        <nav>
            <button id="open-credits"><span>{{'LEGAL-CREDITS'|t}}</span><button>
        </nav>

        <div class="credits">
            <div class="container">
                <div class="top-content">
                    {% include 'partials/_logo-white.html.twig' %}

                    <button id="close-credits">
                        <span>{{'LEGAL-CLOSE'|t}}</span>
                        <div></div>
                    </button>
                </div>

                <div class="grid-2">
                    <div>
                        <h2>{{'LEGAL'|t}}</h2>
                    </div>
                    <div>
                        <h3>{{'PUBLISHER'|t}}</h3>
                        <p>MTA plateforme d’essais<br>
                            28, route du XXIème Siècle<br>
                            86360 Chasseneuil-du-Poitou<br>
                            Tél. : +33 (0)5 49 49 77 10<br>
                            Courriel : <a href="mailto:contact@plateforme-mta.com">contact@plateforme-mta.com</a>
                        </p>

                        <h3>{{'PUBLISHER-HEAD'|t}}</h3>
                        <p>Quentin Badey, Directeur Général</p>

                        <h3>{{'HOST'|t}}</h3>
                        <p>SOS DATA<br>
                            22 rue de Bignoux<br>
                            86000 Poitiers<br>
                            Tél. : 09 74 76 15 57<br>
                            Fax. : 05 49 41 04 77<br>
                            Courriel : <a href="mailto:contact@sos-data.fr">contact@sos-data.fr</a><br>
                            Site : <a href="http://www.sos-data.fr">www.sos-data.fr</a>
                        </p>
                    </div>
                </div>

                <div class="grid-2">
                    <div>
                        <h2>{{'CREDITS'|t}}</h2>
                    </div>
                    <div>
                        <h3>{{'INTEGRATION'|t}}</h3>
                        <p>Erick Gardin - <a href="http://entre-quote.com">entre-quote.com</a></p>

                        <h3>Design</h3>
                        <p>Aymeric Faivre - <a href="http://aymericfaivre.com">aymericfaivre.com</a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</footer>

{% do assets.addJs('theme://js/menu.js', {'group': 'bottom'}) %}
{% endblock %}
