{% block footer %}
<footer class="footer">

    <section class="footer-content container">
        <a class="logo no-before" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo-mta-white.svg') }}" alt="Plateforme MTA">
        </a>

        <nav class="grid-2-small-1">
            <div>
                <a href="{{base_url}}/"><span>Accueil</span></a>
                <a href="{{base_url}}/prestations-et-demarche"><span>Prestations et démarche</span></a>
                <a href="{{base_url}}/systemes-de-stockage-denergie-electrique"><span>SSE</span></a>
            </div>

            <div>
                <a href="{{base_url}}/societe"><span>Société</span></a>
                <a href="{{base_url}}/securite"><span>Sécurité</span></a>
                <a href="{{base_url}}/contact"><span>Contact</span></a>
            </div>

            <div class="linkedin">
                <a href="https://fr.linkedin.com/company/mta-plateforme-d-essais" class="no-before"><img src="{{ url('theme://images/logo-linkedin.svg') }}" alt="Linkedin"></a>
            </div>
        </nav>

    </section>

    <section class="bottom-bar">
        <nav>
            <a href="{{base_url}}/mentions-legales-et-credits">Mentions légales & crédits</a>
            <a href="{{base_url}}/plan-du-site">Plan du site</a>
        </nav>
    </section>
</footer>

{% do assets.addJs('theme://js/menu.js', {'group': 'bottom'}) %}
{% endblock %}
