{% block footer %}
<footer class="footer">

    <section class="footer-content container">
        <a class="logo no-before" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo-mta-white.svg') }}" alt="Plateforme MTA">
        </a>

        <nav class="grid-3-small-1">
            <div>
                <a href="#">Accueil</a>
                <a href="#">Prestations et démarche</a>
                <a href="#">SSE</a>
            </div>

            <div>
                <a href="#">Société</a>
                <a href="#">Sécurité</a>
                <a href="#">Contact</a>
            </div>

            <div class="linkedin">
                <a href="#" class="no-before"><img src="{{ url('theme://images/logo-linkedin.svg') }}" alt="Linkedin"></a>
            </div>
        </nav>

    </section>

    <section class="bottom-bar">
        <nav>
            <a href="{{base_url}}/mentions-legales-et-credits">Mentions légales & crédits</a>
            <a href="{{base_url}}/plan-du-site">Plan du site</a>
        </nav>
    </section>
</footer>

{% do assets.addJs('theme://js/menu.js', {'group': 'bottom'}) %}
{% endblock %}
